#content-core ul, #content-core li {
    list-style: initial;
}

.template-cover #content-core ul, #content-core li {
    list-style: none;
}

#content-core ul li ul li {
    margin-left: 20px;
    list-style-type: circle
}

.navigation.clearfix li a {
    padding:8px 24px;
}

.news-block-six .inner-box .image-box .image {
    overflow:hidden;
    height:340px;
}

.news-block-six .inner-box .image-box .image img {
    position: absolute;
    top:-100%;
    bottom:-100%;
    margin: auto;
}

.main-slider-three .owl-dots {
    top: -80px;
}

/* 主選單, Banner
.main-header .header-lower {
    background: #ddd;
}

ul.navigation.clearfix li.current a:before {
    z-index: 100;
} */

.main-menu .navigation {
    padding-left: 100px;
}

/* 最小生效尺寸 */
/*@media only screen and (min-width: 479px) {


    .auto-container.path-bar {
        padding-left: 120px;
    }
    .main-header .logo-outer .logo {
        width: 450px;
    }
    .main-header .logo-outer {
        padding-bottom: 0px;
        padding-left: 90px;
    }
}*/

.template-news_listing .content-inner {
    padding-right: 60px;
}

.news-block-four .inner-box .image-column .image {
    padding: 0 15px 40px 25px;
/*    padding: 0 0 0px 0px; */
    background-color: #fff;
}

.group-name {
    color: #e73f43;
}

.cover-img img {
    width: 100%;
}

.table-of-contents {
    text-align: center;
}

.author-name {
    padding-left: 20px;
}

.group-name {
    margin-bottom: 20px;
}

.group-article {
    border-bottom: solid 1px red;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.article-unit {
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 16px;
}

.article-unit p {
    margin-bottom: 0;
}

.article-unit p a {
    color:#333;
}

.article-unit p a:hover {
    color:#e73f43;
}

.table-of-contents {
    margin: 50px 0 15px 0;
}

.full-article {
    margin-top: 20px;
}

.article-title {
    margin: 50px 0 30px 0;
}

.article-path {
    border-bottom: solid 1px red;
    padding-bottom: 15px;
}

/* 客制RWD寬度 */
@media (min-width: 992px) {
    article#content {
    /*    padding-left:120px; */
        padding-left: 100px;
    }
    .template-cover article#content {
        padding-left:80px;
        padding-right:80px;
    }
}

aside.sidebar.default-sidebar.right-sidebar {
    padding-right: 60px;
}

.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner {
    height: 12%;
    padding: 0;
    top: initial;
    bottom: 0px;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.6), rgba(0,0,0,0.6))
}

.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content {
    padding-bottom:10px;
    padding-left:25px;
}

.main-header .logo-outer .logo {
    background-size: contain;
}

.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
}

.news-block-six .inner-box .image-box .image .overlay-box .content h2::after {
    display: none;
}

.main-menu .navigation > li > a {
    font-size: 15px;
}

.main-menu .navigation > li > ul > li > a {
    font-size: 13px;
}

p, .page-title h2, .main-menu .navigation > li > a, .cat-list li a {
    color: #333;
}

.tab-h3 {
    margin: 20px 0;
}

.styled-pagination::before {
    display:none;
}

div.styled-pagination ul.clearfix li.active span {
    border-color: #e73f43;
    background-color:#e73f43;
    color:#fff;
}

.styled-pagination li.next a, .styled-pagination li.previous a{
    padding: 0 8px;
}

.styled-pagination li span {
    position: relative;
    display: inline-block;
    line-height: 26px;
    height: 30px;
    font-size: 13px;
    text-transform: capitalize;
    min-width: 30px;
    background: none;
        background-color: rgba(0, 0, 0, 0);
    color: #999999;
    font-weight: 400;
    text-align: center;
    border: 2px solid #f3f3f3;
        border-top-color: rgb(243, 243, 243);
        border-right-color: rgb(243, 243, 243);
        border-bottom-color: rgb(243, 243, 243);
        border-left-color: rgb(243, 243, 243);
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    font-family: 微軟正黑體, 'Montserrat', sans-serif;
}

body .search-box-outer {
    display:none !important;
}

#login-form input {
    background-color: #ccc;
    margin:10px;
}

.add-image {
    display:none
}

#content-core img {
    height: auto;
}

/* 暫不生效 */
body {
/*    font-size: 16px; */
    color: #333;
}

/* 最小生效尺寸, 479px以上 */
@media only screen and (min-width: 479px) {

    .auto-container.path-bar {
        padding-left: 120px;
    }
    .main-header .logo-outer .logo {
        width: 450px;
    }
    .main-header .logo-outer {
        padding-bottom: 0px;
        padding-left: 90px;
    }
}

/* 小尺寸: 480px 以下 */
@media (max-width: 480px) {
    .news-block-six .inner-box .image-box .image .overlay-box .overlay-inner {
        bottom: 0px;
    }

    .news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content {
        padding:3px 15px;
        line-height: 20px;
    }

    .news-block-six .inner-box .image-box .image {
        overflow:hidden;
        height:auto;
    }

    .news-block-six .inner-box .image-box .image img {
        position: relative;
        top:0;
        bottom:0;
        margin: 0;
    }

}
