@media (min-width: 992px) {
    article#content {
        padding-left:120px;
    }
    .template-cover article#content {
        padding-left:80px;
        padding-right:80px;
    }
}

aside.sidebar.default-sidebar.right-sidebar {
    padding-right: 60px;
}

.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner {
    height: 12%;
    padding: 0;
    top: initial;
    bottom: 0px;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.6), rgba(0,0,0,0.6))
}

.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content {
    padding-bottom:20px;
    padding-left:25px;
}

.main-header .logo-outer .logo {
    background-size: contain;
}

.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
}

.news-block-six .inner-box .image-box .image .overlay-box .content h2::after {
    display: none;
}

.main-menu .navigation > li > a {
    font-size: 15px;
}

.main-menu .navigation > li > ul > li > a {
    font-size: 13px;
}

p, .page-title h2, .main-menu .navigation > li > a, .cat-list li a {
    color: #333;
}

.tab-h3 {
    margin: 20px 0;
}

.styled-pagination::before {
    display:none;
}

div.styled-pagination ul.clearfix li.active span {
    border-color: #e73f43;
    background-color:#e73f43;
    color:#fff;
}

.styled-pagination li.next a, .styled-pagination li.previous a{
    padding: 0 8px;
}

.styled-pagination li span {
    position: relative;
    display: inline-block;
    line-height: 26px;
    height: 30px;
    font-size: 13px;
    text-transform: capitalize;
    min-width: 30px;
    background: none;
        background-color: rgba(0, 0, 0, 0);
    color: #999999;
    font-weight: 400;
    text-align: center;
    border: 2px solid #f3f3f3;
        border-top-color: rgb(243, 243, 243);
        border-right-color: rgb(243, 243, 243);
        border-bottom-color: rgb(243, 243, 243);
        border-left-color: rgb(243, 243, 243);
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    font-family: 微軟正黑體, 'Montserrat', sans-serif;
}

body .search-box-outer {
    display:none !important;
}

#login-form input {
    background-color: #ccc;
    margin:10px;
}

.add-image {
    display:none
}

#content-core img {
    height: auto;
}

/* 暫不生效 */
body {
/*    font-size: 16px; */
}

/* 小尺寸: 480px 以下 */
@media (max-width: 480px) {
    .news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content {
        padding:3px 15px;
        line-height: 20px;
    }
}
